body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
p {
    line-height: 2;
}
hr{
    border: dotted #e6f7f7 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
}
.contactm{
    width: 40%;
    margin: 40px auto 60px ;
}
h1{
   font-size: 475%;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: bold;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    

}
.boy{
    margin-top: 100px;
}
.intro{
    width: 30%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.middele{
margin: 100px 0 100px 0;
}
.com{
    float: left;
    margin-right: 30px;

}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 30px;
}
a:hover{
    color: #eaf6f6;
}

.copy{
    color: #11999E;
    font-size: 0.75rem;
    padding: 20px 0;
}

.prob{
    float: right;
    margin-left: 30px;
}
.heyy{
    width: 30%;
    margin-left: 40px;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}
.footer-link{
    color: #11999E;
}
.BUTTON_LBK {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #11CDD4 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 30px auto 30px auto;
 }
 
 .BUTTON_LBK:hover {
    border: solid #FFFFFF 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }